{
    "swagger": "2.0",
    "info": {
        "title": "Curago API",
        "description": "API documentation for Curago",
        "version": "1.0.2"
    },
    "host": "api.curagolife.com",
    "schemes": [
        "https"
    ],
    "basePath": "/api/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/auth": {
            "post": {
                "summary": "Registers user",
                "description": "Email registration. Requires email, password, and password_confirmation params. A verification email will be sent to the email address provided.",
                "parameters": [
                    {
                        "name": "registration_data",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/RegistrationData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "redurect_url is missing or not allowed, or user creation error"
                    }
                },
                "tags": [
                    "Auth"
                ]
            },
            "put": {
                "summary": "Updates user",
                "description": "This method will update an existing user's account settings.",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Account update errors"
                    },
                    "404": {
                        "description": "User not found"
                    }
                },
                "tags": [
                    "Auth"
                ]
            },
            "delete": {
                "summary": "Removes user account",
                "description": "This method will destroy users identified by their uid and auth_token headers.",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "User not found"
                    }
                },
                "tags": [
                    "Auth"
                ]
            }
        },
        "/auth/sign_in": {
            "post": {
                "summary": "Authenticates user",
                "description": "Email authentication. Requires email and password as params. This method will return a JSON representation of the User model on successful login along with the access-token and client in the header of the response.",
                "parameters": [
                    {
                        "name": "credentials",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SignInCredentials"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Authentication error"
                    }
                },
                "tags": [
                    "Auth"
                ]
            }
        },
        "/auth/sign_out": {
            "delete": {
                "summary": "Destroys users sessions",
                "description": "This method will invalidate the user's authentication token.",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Session not found"
                    }
                },
                "tags": [
                    "Auth"
                ]
            }
        },
        "/auth/password": {
            "post": {
                "summary": "Resets user's password",
                "description": "Use this method for sending a password reset confirmation email to users that registered by email. Accepts email and redirect_url as params. The user matching the email param will be sent instructions on how to reset their password. redirect_url is the url to which the user will be redirected after visiting the link contained in the email.",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Missing email or redirect_url"
                    },
                    "403": {
                        "description": "Redirect to %{redirect_url} not allowed."
                    }
                },
                "tags": [
                    "Auth"
                ]
            },
            "put": {
                "summary": "Updates user's password",
                "description": "Use this method to change users' passwords. Requires password and password_confirmation as params. This method is only valid for users that registered by email.",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Authorization required"
                    },
                    "422": {
                        "description": "Missing password, or you tries putting password for oauth, or other errors"
                    }
                },
                "tags": [
                    "Auth"
                ]
            }
        },
        "/users": {
            "get": {
                "summary": "Current user friends",
                "description": "Returns current user and all his friends. Every time someone share to current user, or current user shares to someone - this person automatically goes to friends",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfUsers"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            },
            "post": {
                "summary": "Create user",
                "description": "Creates new user",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/users/me": {
            "get": {
                "summary": "Current user",
                "description": "Returns current user",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            },
            "put": {
                "summary": "Update current user",
                "description": "Updates current user information",
                "responses": {
                    "201": {
                        "description": "Updated",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            },
            "delete": {
                "summary": "Delete current user",
                "description": "Removes current user from system and clears all it's data",
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/users/:id": {
            "get": {
                "summary": "User",
                "description": "Returns user by ID",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/calendars_groups": {
            "get": {
                "summary": "Current user calendar groups",
                "description": "Returns all calendar groups created by current user or shared with him",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfCalendarGroups"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Calendar Groups"
                ]
            },
            "post": {
                "summary": "Create calendar group",
                "description": "Creates new calendar group",
                "parameters": [
                    {
                        "name": "calendars_group",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CalendarsGroupInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/CalendarsGroup"
                        }
                    },
                    "400": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ValidationErrorsContainer"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendar Groups"
                ]
            }
        },
        "/calendars_groups/:id": {
            "put": {
                "summary": "Update calendar group",
                "description": "Updates calendar group information by ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Calendars group ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "calendars_group",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CalendarsGroupInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Updated",
                        "schema": {
                            "$ref": "#/definitions/CalendarsGroup"
                        }
                    },
                    "400": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ValidationErrorsContainer"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendar Groups"
                ]
            },
            "delete": {
                "summary": "Delete calendar group",
                "description": "Deletes calendar group by ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Calendars group ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendar Groups"
                ]
            }
        },
        "/calendars": {
            "get": {
                "summary": "Current user calendars",
                "description": "Returns all calendars created by current user or shared with him",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfCalendars"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendars"
                ]
            },
            "post": {
                "summary": "Create calendar",
                "description": "Creates new calendar",
                "parameters": [
                    {
                        "name": "calendar",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CalendarInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Calendar"
                        }
                    },
                    "400": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ValidationErrorsContainer"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendars"
                ]
            }
        },
        "/calendars/:id": {
            "put": {
                "summary": "Update calendar",
                "description": "Updates calendar information by ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Calendar ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "calendar",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CalendarInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Updated",
                        "schema": {
                            "$ref": "#/definitions/CalendarInput"
                        }
                    },
                    "400": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ValidationErrorsContainer"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Calendars"
                ]
            },
            "delete": {
                "summary": "Delete calendar",
                "description": "Deletes calendar by ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Calendars ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Calendars"
                ]
            }
        },
        "/calendars/:id/items": {
            "get": {
                "summary": "Returns items of specified calendar",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Calendars ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CalendarItemsContaner"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendar Items",
                    "Calendar"
                ]
            }
        },
        "/calendars/:id/items/:item_id": {
            "post": {
                "summary": "Add specified item to specified calendar",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Calendars ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "description": "ID of item which should be added",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendar Items",
                    "Calendar"
                ]
            },
            "delete": {
                "summary": "Removed spcified item from specified calendar",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Calendars ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "description": "ID of item which should be removed",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Calendar Items",
                    "Calendar"
                ]
            }
        },
        "/calendar_items": {
            "get": {
                "summary": "Current user calendar items",
                "description": "Returns all calendar items created by current user or shared with him",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfCalendarItems"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendar Items"
                ]
            },
            "post": {
                "summary": "Create calendar item",
                "description": "Creates new calendar item",
                "parameters": [
                    {
                        "name": "calendar_item",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CalendarItemInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/CalendarItem"
                        }
                    },
                    "400": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ValidationErrorsContainer"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendar Items"
                ]
            }
        },
        "/calendar_items/:id": {
            "put": {
                "summary": "Update calendar item",
                "description": "Updates calendar item information by ID",
                "parameters": [
                    {
                        "name": "calendar_item",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CalendarItemInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Updated",
                        "schema": {
                            "$ref": "#/definitions/CalendarItem"
                        }
                    },
                    "400": {
                        "description": "Validation errors",
                        "schema": {
                            "$ref": "#/definitions/ValidationErrorsContainer"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendar Items"
                ]
            },
            "delete": {
                "summary": "Delete calendar item",
                "description": "Deletes calendar item by ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Calendar's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorsContainer"
                        }
                    }
                },
                "tags": [
                    "Calendar Items"
                ]
            }
        },
        "/calendar_items/:id/documents": {
            "get": {
                "summary": "Returns list of documents relate to this calendar item",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Calendar item ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfDocuments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Calendar Items",
                    "Documents"
                ]
            }
        },
        "/calendar_items/:id/documents/:document_id": {
            "post": {
                "summary": "Attaches document to calendar item",
                "parameters": [
                    {
                        "name": "document_id",
                        "description": "Document's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Calendar Items",
                    "Documents"
                ]
            },
            "delete": {
                "summary": "Detaches document from calendar item",
                "parameters": [
                    {
                        "name": "document_id",
                        "description": "Document's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Detached"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Calendar Items",
                    "Documents"
                ]
            }
        },
        "/documents": {
            "get": {
                "summary": "Current user documents",
                "description": "Returns all documents created by current user or shared with him",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfDocuments"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Documents"
                ]
            },
            "post": {
                "summary": "Create document",
                "description": "Creates new document",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Documents"
                ]
            }
        },
        "/documents/:id": {
            "put": {
                "summary": "Update document",
                "description": "Updates document information by ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Document's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Updated",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Documents"
                ]
            },
            "delete": {
                "summary": "Delete document",
                "description": "Deletes document by ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "Document's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Documents"
                ]
            }
        },
        "/files": {
            "post": {
                "summary": "Accepts files",
                "description": "Accept files and sends them to storage",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "file",
                        "description": "binary file",
                        "in": "formData",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/File"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Files",
                    "Documents"
                ]
            }
        },
        "/files/:id": {
            "get": {
                "summary": "Returns information about file by its ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "File's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/File"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Files",
                    "Documents"
                ]
            },
            "delete": {
                "summary": "Removes file",
                "parameters": [
                    {
                        "name": "id",
                        "description": "File's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Detached"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Files",
                    "Documents"
                ]
            }
        },
        "/lists": {
            "get": {
                "summary": "Current user lists",
                "description": "Returns all lists created by current user or shared with him",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfLists"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Lists"
                ]
            },
            "post": {
                "summary": "Create list",
                "description": "Creates new list",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/List"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Lists"
                ]
            }
        },
        "/lists/:id": {
            "put": {
                "summary": "Update list",
                "description": "Updates list information by ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "List's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Updated",
                        "schema": {
                            "$ref": "#/definitions/List"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Lists"
                ]
            },
            "delete": {
                "summary": "Delete list",
                "description": "Deletes list by ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "List's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Lists"
                ]
            }
        },
        "/lists/:id/items": {
            "get": {
                "summary": "List items",
                "description": "Returns all items in specific list by list ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "List's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfListItems"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "List Items",
                    "Lists"
                ]
            },
            "post": {
                "summary": "Create list item",
                "description": "Creates new list item in specific list by list ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "List's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/ListItem"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "List Items",
                    "Lists"
                ]
            }
        },
        "/lists/:id/items/:item_id": {
            "put": {
                "summary": "Update list item",
                "description": "Updates list item information by list ID and item ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "List's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "item_id",
                        "description": "List item ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Updated",
                        "schema": {
                            "$ref": "#/definitions/ListItem"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "List Items",
                    "Lists"
                ]
            },
            "delete": {
                "summary": "Delete list item",
                "description": "Deletes list item by list ID and item ID",
                "parameters": [
                    {
                        "name": "id",
                        "description": "List's ID",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "List Items",
                    "Lists"
                ]
            }
        },
        "/notification_prefs/:id": {
            "put": {
                "summary": "Update notification preference",
                "description": "Updates notification preference by ID",
                "responses": {
                    "201": {
                        "description": "Updated",
                        "schema": {
                            "$ref": "#/definitions/NotificationPreference"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Notifications",
                    "Calendar Items"
                ]
            },
            "delete": {
                "summary": "Delete notification preference",
                "description": "Deletes notification preference by ID",
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Notifications",
                    "Calendar Items"
                ]
            }
        },
        "/calendar_items/:id/notifications": {
            "get": {
                "summary": "Returns notifications preferences for calendar item",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/NotificationPreference"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Notifications",
                    "Calendar Items"
                ]
            },
            "post": {
                "summary": "Create notification preference",
                "description": "Creates new notification preference",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/NotificationPreference"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Notifications",
                    "Calendar Items"
                ]
            }
        },
        "/participations": {
            "get": {
                "summary": "Current user participations",
                "description": "Returns all shareable items (calendar group, calendar, calendar item, document or list) shared BY current user",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfParticipations"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Participations"
                ]
            },
            "post": {
                "summary": "Create participation",
                "description": "Share some shareable item (calendar group, calendar, calendar item, document or list) with friend",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Participation"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Participations"
                ]
            }
        },
        "/participations/:id": {
            "put": {
                "summary": "Update participation",
                "description": "Updates participation information by ID",
                "responses": {
                    "201": {
                        "description": "Updated",
                        "schema": {
                            "$ref": "#/definitions/Participation"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Participations"
                ]
            },
            "delete": {
                "summary": "Delete participation",
                "description": "Deletes participation by ID",
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "Participations"
                ]
            }
        },
        "/sharings": {
            "post": {
                "summary": "Shares some entity with some user",
                "parameters": [
                    {
                        "name": "sharing_data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SharingInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/SharingItem"
                        }
                    }
                },
                "tags": [
                    "Sharings"
                ]
            }
        }
    },
    "definitions": {
        "RegistrationData": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "description": "Email of registered user"
                },
                "password": {
                    "type": "string"
                },
                "password_confirmation": {
                    "type": "string",
                    "description": "Must be the same as password"
                }
            }
        },
        "SignInCredentials": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "description": "Email of registered user"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "Calendar": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Calendar ID"
                },
                "title": {
                    "type": "string",
                    "description": "Calendar title"
                },
                "creator": {
                    "type": "string",
                    "description": "User ID who created this calendar"
                },
                "hex_color": {
                    "type": "string",
                    "description": "Calendar color in hex string"
                },
                "main": {
                    "type": "boolean",
                    "description": "Specifies is it default Curago calendar for user or not",
                    "default": false
                },
                "read_only": {
                    "type": "boolean",
                    "description": "Specifies if calendar read only or not",
                    "default": false
                },
                "kind": {
                    "type": "integer",
                    "format": "int16",
                    "description": "Enumeration specifies the type of calendar",
                    "default": 0
                },
                "visible": {
                    "type": "boolean",
                    "description": "Specifies if calendar visible in UI",
                    "default": true
                }
            }
        },
        "CalendarInput": {
            "type": "object",
            "properties": {
                "title": {
                    "type": "string",
                    "description": "Calendar title"
                },
                "hex_color": {
                    "type": "string",
                    "description": "Calendar color in hex string"
                },
                "main": {
                    "type": "boolean",
                    "description": "Specifies is it default Curago calendar for user or not",
                    "default": false
                },
                "read_only": {
                    "type": "boolean",
                    "description": "Specifies if calendar read only or not",
                    "default": false
                },
                "kind": {
                    "type": "integer",
                    "format": "int16",
                    "description": "Enumeration specifies the type of calendar",
                    "default": 0
                },
                "visible": {
                    "type": "boolean",
                    "description": "Specifies if calendar visible in UI",
                    "default": true
                }
            }
        },
        "CalendarsGroup": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Calendar group ID"
                },
                "title": {
                    "type": "string",
                    "description": "Calendar group title"
                }
            }
        },
        "CalendarsGroupInput": {
            "type": "object",
            "properties": {
                "title": {
                    "type": "string",
                    "description": "Calendar group title"
                }
            }
        },
        "CalendarItem": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Calendar item ID"
                },
                "title": {
                    "type": "string",
                    "description": "Calendar item title"
                },
                "creator": {
                    "type": "string",
                    "description": "User ID who created this calendar item"
                },
                "start_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date and time for calendar item"
                },
                "end_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date and time for calendar item"
                },
                "notes": {
                    "type": "string",
                    "description": "Additional notes"
                },
                "read_only": {
                    "type": "boolean",
                    "description": "Specifies if calendar item read only or not",
                    "default": false
                },
                "timezone": {
                    "type": "string",
                    "description": "Optional time zone to apply to starting and ending dates. For reminders time zone usually does not matter"
                },
                "kind": {
                    "type": "integer",
                    "format": "int16",
                    "description": "Enumeration specifies the type of calendar item",
                    "default": 0
                },
                "lattitude": {
                    "type": "number",
                    "format": "double",
                    "description": "Location lattitude"
                },
                "longitude": {
                    "type": "number",
                    "format": "double",
                    "description": "Location longitude"
                },
                "location_name": {
                    "type": "string",
                    "description": "Location name. It might be city name, neighborhood name or anything else"
                }
            }
        },
        "CalendarItemInput": {
            "type": "object",
            "properties": {
                "title": {
                    "type": "string",
                    "description": "Calendar item title"
                },
                "start_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date and time for calendar item"
                },
                "end_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date and time for calendar item"
                },
                "notes": {
                    "type": "string",
                    "description": "Additional notes"
                },
                "read_only": {
                    "type": "boolean",
                    "description": "Specifies if calendar item read only or not",
                    "default": false
                },
                "timezone": {
                    "type": "string",
                    "description": "Optional time zone to apply to starting and ending dates. For reminders time zone usually does not matter"
                },
                "kind": {
                    "type": "integer",
                    "format": "int16",
                    "description": "Enumeration specifies the type of calendar item",
                    "default": 0
                },
                "lattitude": {
                    "type": "number",
                    "format": "double",
                    "description": "Location lattitude"
                },
                "longitude": {
                    "type": "number",
                    "format": "double",
                    "description": "Location longitude"
                },
                "location_name": {
                    "type": "string",
                    "description": "Location name. It might be city name, neighborhood name or anything else"
                }
            }
        },
        "Document": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Document ID"
                },
                "title": {
                    "type": "string",
                    "description": "Document title"
                },
                "notes": {
                    "type": "string",
                    "description": "Additional notes"
                },
                "tags": {
                    "type": "string",
                    "description": "Comma separated tags"
                },
                "file": {
                    "$ref": "#/definitions/File"
                }
            }
        },
        "List": {
            "type": "object",
            "properties": {
                "identifier": {
                    "type": "string",
                    "description": "List ID"
                },
                "title": {
                    "type": "string",
                    "description": "List title"
                },
                "creator": {
                    "type": "string",
                    "description": "User ID who created this list"
                },
                "notes": {
                    "type": "string",
                    "description": "Additional notes"
                },
                "private": {
                    "type": "boolean",
                    "description": "Specifies visibility of list to anyone else",
                    "default": false
                },
                "listItems": {
                    "type": "array",
                    "description": "Associated lists items",
                    "items": {
                        "$ref": "#/definitions/ListItem"
                    }
                }
            }
        },
        "ListItem": {
            "type": "object",
            "properties": {
                "identifier": {
                    "type": "string",
                    "description": "List item ID"
                },
                "title": {
                    "type": "string",
                    "description": "List item title"
                },
                "creator": {
                    "type": "string",
                    "description": "User ID who created this list item"
                },
                "notes": {
                    "type": "string",
                    "description": "Additional notes"
                },
                "order": {
                    "type": "integer",
                    "format": "int16",
                    "description": "Sorting order for item in the list",
                    "default": 0
                },
                "list": {
                    "type": "string",
                    "description": "Parent list ID"
                }
            }
        },
        "NotificationPreference": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "boolean",
                    "description": "Preference for getting email notification",
                    "default": false
                },
                "push": {
                    "type": "boolean",
                    "description": "Preference for getting push notification",
                    "default": false
                },
                "sms": {
                    "type": "boolean",
                    "description": "Preference for getting sms notification",
                    "default": false
                }
            }
        },
        "Participation": {
            "type": "object",
            "properties": {
                "identifier": {
                    "type": "string",
                    "description": "Calendar item ID"
                },
                "participant": {
                    "type": "string",
                    "description": "User ID with whom to share"
                },
                "sharedBy": {
                    "type": "string",
                    "description": "User ID who shares"
                },
                "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional start date and time for share"
                },
                "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional end date and time for share"
                },
                "readOnly": {
                    "type": "boolean",
                    "description": "Specifies if this is read only share",
                    "default": true
                },
                "sharedItem": {
                    "type": "object",
                    "description": "Item to be shared. It should be only one item - calendar, calendar group, calendar item, document or list",
                    "properties": {
                        "calendar": {
                            "type": "string",
                            "description": "Optional calendar ID to be shared"
                        },
                        "calendarGroup": {
                            "type": "string",
                            "description": "Optional calendar group ID to be shared"
                        },
                        "calendarItem": {
                            "type": "string",
                            "description": "Optional calendar item ID to be shared"
                        },
                        "document": {
                            "type": "string",
                            "description": "Optional document ID to be shared"
                        },
                        "list": {
                            "type": "string",
                            "description": "Optional list ID to be shared"
                        }
                    }
                }
            }
        },
        "User": {
            "type": "object",
            "properties": {
                "identifier": {
                    "type": "string",
                    "description": "User ID"
                },
                "name": {
                    "type": "string",
                    "description": "User full name"
                },
                "email": {
                    "type": "string",
                    "description": "User email"
                },
                "phone": {
                    "type": "string",
                    "description": "User phone"
                },
                "systemNotificationsEnabled": {
                    "type": "boolean",
                    "description": "Specifies if notifications for some system events enabled by default",
                    "default": true
                },
                "calendarNotificationsEnabled": {
                    "type": "boolean",
                    "description": "Specifies if notifications for calendars enabled by default",
                    "default": false
                },
                "current": {
                    "type": "boolean",
                    "description": "Specifies if this is current authenticated user"
                }
            }
        },
        "File": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "File identifier"
                },
                "public_url": {
                    "type": "string",
                    "description": "URL of file. You can use it for file dwonloading"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "ValidationError": {
            "type": "object",
            "description": "Name of this field will be the same as the name of model field which has validation errors. For example, we have model with invalid email field. In this case we have following error object: \"validation_errors\": {\n  \"email\": [\n      \"Email address is invalid\"\n  ]\n}\n",
            "properties": {
                "error_field_name": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "ErrorsContainer": {
            "type": "object",
            "properties": {
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Error"
                    }
                }
            }
        },
        "ValidationErrorsContainer": {
            "type": "object",
            "properties": {
                "validation_errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ValidationError"
                    }
                }
            }
        },
        "SharingItem": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "subject_class": {
                    "type": "string",
                    "description": "Type of sharing entity for example: Calendar, CalendarItem, etc.\n"
                },
                "subject_id": {
                    "type": "integer",
                    "description": "ID of entity which should be shared"
                },
                "user_id": {
                    "type": "integer",
                    "description": "ID of user you're going to share with"
                }
            }
        },
        "SharingInput": {
            "type": "object",
            "properties": {
                "subject_class": {
                    "type": "string",
                    "description": "Type of sharing entity for example: Calendar, CalendarItem, etc.\n"
                },
                "subject_id": {
                    "type": "integer",
                    "description": "ID of entity which should be shared"
                },
                "user_id": {
                    "type": "integer",
                    "description": "ID of user you're going to share with"
                }
            }
        },
        "ArrayOfUsers": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/User"
            }
        },
        "ArrayOfCalendars": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/Calendar"
            }
        },
        "ArrayOfCalendarGroups": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/CalendarsGroup"
            }
        },
        "ArrayOfCalendarItems": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/CalendarItem"
            }
        },
        "CalendarItemsContaner": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "description": "List of items created by current user",
                    "items": {
                        "$ref": "#/definitions/CalendarItem"
                    }
                },
                "shared_items": {
                    "type": "array",
                    "description": "List of items shared with current user",
                    "items": {
                        "$ref": "#/definitions/CalendarItem"
                    }
                }
            }
        },
        "ArrayOfDocuments": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/Document"
            }
        },
        "ArrayOfLists": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/List"
            }
        },
        "ArrayOfListItems": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/ListItem"
            }
        },
        "ArrayOfParticipations": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/Participation"
            }
        }
    }
}