# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 135f7af71ca3aafe0935ffdd11e076b6cbda3a5d00cafb5fe15401d6931fff634f1dc45bd20204ecbc1aed955157e3f9eab2f5ea565d7102712186e023aa8842
  google_client_id: 598713383931-9rjm29c5scdqfgdsfdo8jr4lgpa15fse.apps.googleusercontent.com
  google_client_secret: 5tmr_QjSwlK9CJygLVWiNENU
  host: http://localhost:3000
  path: index/account/calendar

test:
  secret_key_base: a99176992bf842b24f89f032b170158b5d7a9839279a656a83360a57795bf8d99c71bbd909ce1df4f44b503997843f4c227670968203b224564fe89b18bbe31e

staging:
  secret_key_base: 52ad7783916a15367072abdf080d6fcd32d4f30e548d9df2c78eb7d0efcd4ea44238d2c458a744830672c38641345fe86b200c6e7712912364c4914bab42f480
  google_client_id: 516470355236-i195n1ejsbu709l1d64e7ktithvki24i.apps.googleusercontent.com
  google_client_secret: mX-SHqHkzksnp7ofAj06yPAX
  host:  http://curago-staging.s3-us-west-2.amazonaws.com/index.html
  path: index/account/calendar
# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
